{% extends 'base.html.twig' %}
{% block title %} {{ 'category-list'|trans }} {% endblock %}
{% block body %}
{{ 'category-list'|trans }} :
        {% for category in categories %}
                <h4><a href="{{ path('category_show', {'categoryName': category.name})}}">{{ category.name }}</a></h4>
        {% endfor %}
        <a href="{{ path('app_index') }}">{{ 'back-home'|trans }}</a>
{% endblock %}