{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %} {{ 'add-category'|trans }}{% endblock %}
{% block body %}
<h3> {{ 'add-category'|trans }} </h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type='submit' value='Ajouter une catégorie'>
    {{ form_end(form) }}
{% endblock %}