{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %} Catégorie {{ categoryName }}{% endblock %}
{% block body %}
        <h1>Toutes les séries de la catégorie {{ categoryName }} : </h1>
        {% for program in programs %}
                {{ program.id }} / <a href="{{ path('programs_show', {'programId': program.id})}}">{{ program.title }}</a>
                <p>{{ program.summary }}</p>
                <p>Catégorie : {{ program.category.name }}</p>
        {% else %}
                Aucune série trouvée.
        {% endfor %}
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}