{% extends 'base.html.twig' %}
{% block title %} Catégorie {{ categoryName }}{% endblock %}
{% block body %}
        <h1>{{ 'all-program-from-category'|trans }} {{ categoryName }} : </h1>
        {% for program in programs %}
                {{ program.id }} / <a href="{{ path('programs_show', {'slug': program.slug})}}">{{ program.title }}</a>
                <p>{{ program.summary }}</p>
                <p>{{ 'category'|trans }} : {{ program.category.name }}</p>
        {% else %}
                {{ 'no-program'|trans }}.
        {% endfor %}
        <a href="{{ path('app_index') }}">{{ 'back-home'|trans }}</a>
{% endblock %}