{% extends 'base.html.twig' %}

{% block title %}{{ 'update-episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'update-episode'|trans }}</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('episode_index') }}">{{ 'back-home'|trans }}</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
