{% extends 'base.html.twig' %}

{% block title %}{{ 'episode-home'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'episode-home'|trans }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'title'|trans }}</th>
                <th>{{ 'number'|trans }}</th>
                <th>{{ 'summary'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.summary }}</td>
                <td>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">{{ 'update'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('episode_new') }}">{{ 'create-new'|trans }}</a>
{% endblock %}
