{% extends 'base.html.twig' %}

{% block title %}{{ 'create-new-episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create-new-episode'|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">{{ 'back-to-episode-index'|trans }}</a>
{% endblock %}
