{% extends 'base.html.twig' %}

{% block title %}{{ 'create-new-season'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create-new-season'|trans }}</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">{{ 'season-home'|trans }}</a>
{% endblock %}
