{% extends 'base.html.twig' %}

{% block title %}{{ 'update-program'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'update-program'|trans }}</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('programs_index') }}">{{ 'back-home-program-index'|trans }}</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
