{% extends 'base.html.twig' %}
        {% block title %}{{ 'program-home'|trans }}{% endblock %}
        {% block body %}
                <h1>{{ 'all-programs'|trans }} : </h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button>Search</button>
                {{ form_end(form) }}
        {% for program in programs %}
                <div>
                        <h2 class="pt-3">{{ loop.index }} / <a href="{{ path('programs_show', {'slug': program.slug })}}">{{ program.title }}</a></h2>
                        <p>{{ program.summary }}</p>
                        <p>{{ 'category'|trans }} : {{ program.category.name }}</p>
                </div>
        {% else %}
                Aucune série trouvée.
        {% endfor %}
        <a href="{{ path('app_index') }}">{{ 'back-home'|trans }}</a>
        {% endblock %}