{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}
{% block body %}
        <div class="media">
                <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
                <div class="media-body">
                        <h2 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h2>
                        <h5>Description de la saison :</h5>
                        <p>{{ season.description }}</p>
                        <h5>Liste des épisodes :</h5>
                        {% for epi in episodes %}
                                <p><a href="{{ path('programs_season_episode_show', {'programId': program.id, 'seasonId': season.id, 'episodeId': epi.id})}}">Episode {{ epi.number }} : {{ epi.title }}</a></p>
                        {% endfor %}
                </div>
        </div>
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}