{% extends 'base.html.twig' %}

{% block title %}{{ 'new-actor'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'create-new-actor'|trans }}</h1>

    {{ include('actor/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">{{ 'create-new-actor'|trans }}</a>
{% endblock %}
