{% extends 'base.html.twig' %}
        {% block title %}{{ website }}{% endblock %}
        {% block body %}
        <h1>{{ 'welcome-to'|trans }} {{ website }}!</h1>
        <p> {{ 'require-connexion'|trans }}</p>
        {% if app.user %}
        <h1>{{ 'last-program'|trans }} : </h1>
        {% for program in programs %}
                <div>
                        <h2><a href="{{ path('programs_show', {'slug': program.slug })}}">{{ program.title }}</a></h2>
                        <p>{{ program.summary }}</p>
                </div>
        {% endfor %}
        {% endif %}
        {% endblock %}