<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex justify-content-between w-100">
      <div class="block1 d-flex">
        <li class="nav-item active">
          <a class="nav-link" href="#">Wild Séries</a>
        </li>
      </div>
      <div class="block2 d-flex">
        <li class="nav-item dropdown ml-5 mr-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catégorie
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('category_index')}}">Toutes les catégories</a>
            <a class="dropdown-item" href="{{ path('category_show', {'categoryName': "horreur" })}}">Catégorie Horror</a>
            <a class="dropdown-item" href="{{ path('category_new')}}">Créer une catégorie</a>
          </div>
        </li>
        <li class="nav-item dropdown ml-5 mr-5">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Séries
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('programs_index')}}">Toutes les séries</a>
            <a class="dropdown-item" href="{{ path('programs_show', {'slug':"walking-dead"})}}">The Walking Dead</a>
            <a class="dropdown-item" href="{{ path('programs_show', {'slug':"the-haunting"})}}">The Haunting</a>
            <a class="dropdown-item" href="{{ path('programs_show', {'slug':"amrican-horror-story"})}}">American Horror Story</a>
            <a class="dropdown-item" href="{{ path('programs_show', {'slug':"love-death-and-robot"})}}">Love Death And Robots</a>
            <a class="dropdown-item" href="{{ path('programs_show', {'slug':"penny-dreadful"})}}">Penny Dreadful</a>
            <a class="dropdown-item" href="{{ path('programs_show', {'slug':"fear-the-walking-dead"})}}">Fear the Walking Dead</a>
            <a class="dropdown-item" href="{{ path('programs_new')}}">Créer une série</a>
            <a class="dropdown-item" href="{{ path('season_new')}}">Créer une saison</a>
            <a class="dropdown-item" href="{{ path('episode_new')}}">Créer un episode</a>
            <a class="dropdown-item" href="{{ path('season_index')}}">Voir les saisons</a>
            <a class="dropdown-item" href="{{ path('episode_index')}}">Voir les episodes</a>
          </div>
        </li>
        <li class="nav-item dropdown ml-5 mr-5">
          <a class="nav-link dropdown-toggle mr-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acteurs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{path('actor_index')}}">Tout les acteurs/actrices</a>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
      </div>
      <div class="block3 d-flex">
        <li class="nav-item ml-6">
          <a class="nav-link" href="#">Mes favoris</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="#">Deconnexion</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="#">Profil</a>
        </li>
      </div>
    </ul>
  </div>
</nav>